includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - config/
        - src/

    level: 8

    ignoreErrors:
        - '#Access to an undefined property UnitEnum::\$value.#'
